html{
    height: 100%;
    font-family: "Roboto";
    color: black;
}
.username{
    text-align: right;
    margin-right: 5%;
}
.home {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
    background-image: linear-gradient(lightblue, white);
    background-size: cover;
    margin: auto;
    animation-name: moveUp;
    animation-duration: 2s;
}
.title{
    margin-top: 1%;
    text-align: center;
}
.map{
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}
.dbData{
    margin-bottom: 1%;
    color: gray;
    position: relative;
    text-align: center;
}
.status{
    margin-bottom: 30%;
    color: green;
    position: relative;
    text-align: center;
}
@keyframes moveUp {
    0%   {top: 150px;}
    100% {top: 0px;}
}